@font-face {
    font-family: "Montserrat";
    src: url(../fonts/static/Montserrat-Italic.ttf) format('ttf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    color: black;
    background-image: url(../image/back_image_main\ 1.png);
    background-size: cover;
    /* Растягивает изображение так, чтобы оно полностью покрывало фон */
    background-position: center;
    /* Центрирует изображение на фоне */
    background-repeat: no-repeat;

    .container {
        padding-inline: 20px;
        display: flex;
        width: 1200px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .header_top {

            display: flex;
            flex-direction: column;
            flex: 1 1 100%;
            justify-content: space-between;

            nav {
                background-color: rgba(255, 255, 255, 0.6);
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                font-family: "Montserrat";
                font-size: 20px;
                font-weight: 700;
                padding-top: 10px;


                .header_logo {
                    width: 50px;
                    height: 50px;
                }

                a>.underline {
                    position: relative;

                    &:after {
                        position: absolute;
                        content: '';
                        left: 0;
                        bottom: 0;
                        display: block;
                        width: 100%;
                        height: 1px;
                        width: 0;
                        transition: 0.3s;
                        border-bottom: 3px solid #FF6B6B;
                    }

                    &:hover:after {
                        width: 100%;

                    }
                }

                .down_menu {


                    position: relative;

                    .catalog_down {
                        display: flex;
                        gap: 15px;

                    }

                    .drop {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        position: absolute;
                        top: 40px;
                        left: -5px;
                        padding-inline: 10px;
                        z-index: 2;
                        border-radius: 5px;
                        background-color: #D9D9D9;
                        max-height: 0px;
                        overflow: hidden;
                        transition: max-height 0.4s linear;

                        &:hover {
                            max-height: 330px;
                        }

                        a {
                            p {
                                font-size: 20px;
                                position: relative;
                                padding-top: 10px;
                                box-sizing: border-box;
                            }

                            &:nth-last-child(n) {
                                padding-bottom: 15px;
                            }
                        }


                    }

                    .catalog_down:hover+.drop {
                        max-height: 300px;
                        transition: max-height 0.4s linear;
                    }
                }
            }

            .burger_menu {
                display: none;
                justify-content: space-around;

                .burger_bottom {
                    border-radius: 2px;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    height: 30px;
                    width: 30px;
                    background-color: #FF6B6B;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


                    span {
                        box-sizing: border-box;
                        transition: 0.3s ease-in-out;
                        width: 25px;
                        background-color: white;
                        height: 2px;
                        border-radius: 2px;
                        margin-inline: 7px;

                    }

                }

                .burger_bottom.open {
                    z-index: 3;

                    :nth-child(1) {
                        margin-bottom: -30px;
                        transform: rotate(135deg);
                    }

                    :nth-child(2) {
                        opacity: 0;
                        left: -60px;
                    }

                    :nth-child(3) {
                        margin-top: -30px;
                        transform: rotate(-135deg);
                    }
                }

                .burger_list {
                    background-color: #D9D9D9;
                    z-index: 2;

                    width: 100%;
                    position: fixed;
                    top: -20px;
                    left: -100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    font-size: 26px;
                    transition: left 0.5s ease 0s;

                    p {
                        padding-left: 20px;
                    }

                    .header_logo {
                        padding-top: 20px;
                        width: 50px;
                        height: 50px;
                    }

                    .catalog_more {
                        display: flex;
                        gap: 20vw;

                        .arrow_more {
                            transition: all 0.3s ease 0s;
                        }

                        .arrow_more.open {
                            transition: 0.3s ease 0s;
                            transform: rotate(180deg);
                        }
                    }

                    .add_catalog {
                        margin-top: -20px;
                        display: flex;
                        flex-direction: column;
                        max-height: 0px;
                        overflow: hidden;
                        transition: max-height 0.4s linear;

                        .first_item {
                            margin-top: 10px;
                        }

                        a {
                            position: relative;
                            padding-left: 30px;
                            padding-top: 8px;
                            padding-bottom: 4px;
                            box-sizing: border-box;

                            &::before {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 60%;
                                width: 85%;
                                height: 2px;
                                background-color: #FF6B6B;
                                transform: translateX(-50%);

                            }
                        }

                    }

                    .add_catalog.open {
                        max-height: 300px;
                    }
                }

                .burger_list.open {
                    left: 0;
                    transition: left 0.5s ease 0s;
                }

            }

            .ticker {
                background-color: rgba(255, 255, 255, 0.6);

                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                padding-top: 8px;
                padding-bottom: 8px;
                border-top: 2px solid black;
                border-bottom: 2px solid black;
            }

        }

        section {
            display: flex;
            margin-top: 40px;
            padding-inline: 30px;
            display: flex;
            gap: 5%;
            margin-bottom: 40px;

            .header_bottom {
                display: flex;
                flex-wrap: wrap;
                flex: 1 1 60%;

            }

            .information {
                flex: 1 1 calc(50% - 30px);
                /* Учтите отступы (15px слева и 15px справа) для каждого блока */
                display: block;
                text-align: justify;
                padding: 15px;
                background-color: rgba(255, 255, 255, 0.6);
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                margin: 0 15px 22px 0px;
            }

            .some_extra_info {
                flex: 1 1 calc(50% - 30px);
                /* Учтите отступы (15px слева и 15px справа) для каждого блока */
                display: block;
                text-align: justify;
                padding: 15px;
                background-color: rgba(255, 255, 255, 0.6);
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                margin: 0 15px 0px 0px;

            }

            .some_extra_info {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                font-size: 16px;
                align-items: center;

                p {
                    width: 50%;
                }

                .header_soc_net {
                    align-self: flex-end;
                    align-self: center;
                    display: flex;
                    gap: 20px;
                }

                .header_soc_net img {
                    width: 50px;
                    height: 50px;
                }
            }



            form {
                background-color: rgba(255, 255, 255, 0.6);
                display: flex;
                flex: 1 1 30%;
                gap: 20px;
                flex-direction: row;
                flex-wrap: wrap;

                justify-content: center;

                .one_click_call {
                    padding-top: 10px;
                    text-align: center;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                }

                p {
                    padding-inline: 15px;
                    text-align: justify;

                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }

                .input_with_icon {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    position: relative;

                    .input_icon {
                        position: absolute;
                        left: 10%;
                        top: 5%;
                    }

                    input {
                        text-indent: 25%;
                        width: 90%;

                    }

                    input:not(:placeholder-shown) {
                        text-indent: 25%;
                    }

                }

                input {
                    width: 90%;
                    height: 41px;
                    border: 2px solid #ccc;
                    /* Установите цвет границы для обычного состояния */
                    text-indent: 7%;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    outline: none;

                    &::placeholder {

                        font-size: 16px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

                }

                input:focus {
                    border-color: #FF6B6B;

                }

                button {
                    border-radius: 15px;
                    background: #FF6B6B;
                    border: none;
                    margin-top: 20px;
                    margin-bottom: 44px;
                    cursor: pointer;

                    p {
                        padding: 5px 12px 5px 12px;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }
                }


            }
        }
    }
}

@media (max-width:1080px) {
    header {
        .container {
            padding: 0;
        }

    }

}

@media (max-width: 920px) {
    header {
        .container {
            .header_top {
                nav {
                    font-size: 16px;
                }
            }

            section {
                .header_bottom {
                    form {
                        .one_click_call {
                            font-size: 26px;
                        }
                    }
                }
            }

        }
    }
}

@media (max-width:800px) {

    header {
        .container {
            width: 100%;

            .header_top {

                nav {
                    display: none;
                }

                .burger_menu {
                    padding-top: 10px;
                    display: flex;

                    a {
                        .header_logo_mobile {
                            width: 50px;
                        }
                    }

                    .burger_list {
                        font-size: 20px;
                        gap: 20px;
                    }
                }
            }

            section {
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;

                .header_bottom {
                    flex: 1 1 100%;

                    padding-bottom: 25px;

                    .information,
                    .some_extra_info {
                        flex: 1 1 50%;
                        margin-right: 0px;
                    }
                }

                form {
                    gap: 30px;
                    max-width: 300px;
                    margin: auto;

                    .input_with_icon {

                        input {
                            text-indent: 70px;
                        }

                        button {
                            .in_button {
                                padding: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:500px) {

    header {
        .container {
            section {
                .header_bottom {
                    .some_extra_info {
                        justify-content: center;
                        gap: 20px;

                        p {
                            text-align: center;
                            width: 100%;

                        }
                    }
                }
            }
        }
    }


}